{% extends "base.html" %}

{% block title %} 发表文章 {% endblock %}

{% block bodyContent %}
    <div class="span9 well row-fluid">
        <form action="" method="post">
            {% csrf_token %}
            <div class="input-prepend row-fluid">
                {% if form.caption.errors %}
                    <div class="alert alert-error">
                        {{ form.caption.errors }}
                    </div>
                {% endif %}
                <span class="add-on">标题:</span>
                {{ form.caption }}
            </div>
            <div class="input-prepend row-fluid">
                <span class="add-on">标签:</span>
                <input type="text">
            </div>
            <div class="well">
                {% if form.content.errors %}
                    <div class="alert alert-error">
                        {{ form.content.errors }}
                    </div>
                {% endif %}
                {{ form.content }}
            </div>
            <div class="form-actions">
                <input class="btn btn-primary" type="submit" value="保存">
            </div>
        </form>
    </div>
    {% include "blog/blog_rightPart.html" %}
{% endblock %}

